
body {
    background-color: #0f0f0f;
    color: #BABABA;
}

.wrapper {
    max-width: 1200px;
}

.wrapper--min {
    max-width: 1000px;
}

.header {
    height: 10vh;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

.mainTitle {
    font-size: 42px;
    text-align: center;
    text-shadow: 2px -2px 10px;
}

.wrapper_startBox {
    margin: 0 auto;
    padding: 42px 80px;

    display: flex;
    gap: 100px;
}

.startDisplay, .activityDisplay, .purposeDisplay, .finalDisplay {
    background-image: url(../img/bg.jpg);
    background-size: cover;
}




/*---------------------------------------------------INFOBOX---------------------------------------------------------------*/

.infoBox {
    width: 36%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    border-radius: 8px;
}

.infoBox p {
    font-size: 18px;
    padding: 20px;
    margin-bottom: 40px;
}

.startBox__title {
    margin: 20px auto 10px;
    font-size: 30px;
    text-align: center;
}

.switchesBox {
    margin-bottom: 20px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}



.switch {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(145, 144, 144, 0.3);
}

.switch:hover {
    background-color: rgba(170, 169, 169, 0.8);
    box-shadow: 2px -2px 10px;
}

.active {
    background-color: rgb(247, 247, 247);
}


.info {
    display: none;
}

.activeInfo {
    display: block;
}






/*-----------------------------------------------------COUNT BOX------------------------------------------------------------*/

.countBox {

    min-height: 70vh;
    width: 64%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: relative;

    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    border-radius: 8px;    
}

.countDisp {
    margin-top: 10px;
}

.formDesk {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 44px;
}


.formPar__Radio {
    display: flex;
    justify-content: space-between;
    margin: 0px 28px;

    margin: 40px 28px 0px;
    position: relative;
    cursor: default;
}

.radioBox {
    display: flex;
    justify-content: flex-start;
    width: 60%;
}

.radioBox input {
    margin-right: 2px;
    cursor: default;
    opacity: -1;
}
.radioBox label {
    cursor: default;
}
.radioBox label::before {                    /* Здесь делаю новй значек для радио */
    content: "";
	display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(145, 144, 144, 0.3);
	position: relative;
	right: 16px;
	bottom: 1px;
    z-index: 5;
}
.radioBox label:hover {
    text-shadow: 3px 3px 8px;
    font-weight: bold;
}
.radioBox input:not(:first-child) {
    margin-left: 38px;
}
.radioBox input:checked + label:before {
    background-color: rgb(247, 247, 247);
}

input[type=range] {
    appearance: none;    
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgba(202, 202, 202, 0.572);
}



.formPar {
    display: flex;
    justify-content: space-between;
    margin: 0px 28px;

}

.formPar label {
    position: relative;
    top: 6px;
}

.formPar input {
    width: 60%;;
    border: 1px solid rgba(170, 169, 169, 0.5);
    border-radius: 6px;
    padding: 4px;
    cursor: default;
}

.formPar input:hover {
    background-color: rgba(170, 169, 169, 0.3);
    box-shadow: 2px -2px 10px;
}

.countButton {
    margin: 62px auto 0px;
    display: block;
    border: 2px solid #BABABA;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    cursor: default;
}

.countButton:hover {
    border: 2px solid #454545;
    border-radius: 30px;
    background-color: rgba(170, 169, 169, 0.8);
    box-shadow: 4px 4px 24px #818181;
    color: rgb(25, 25, 25);
    font-weight: bold;
}

.comment {
    position: absolute;
    bottom: 0;

    padding: 6px 28px;

    width: 100%;
    height: 40px;

    color: rgb(227, 128, 128);
}



/*--------------------------------------wrapper_activeBox/purposeBox/finalBox------------------------------------------------*/

.wrapper_activeBox, .wrapper_purposeBox, .wrapper_finalBox {
    height: 90vh;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    margin: 80px auto;  
    border: 1px solid #454545;
    
    padding: 20px 30px;
}

.yourBMR {
    margin: 0px auto;
    font-size: 20px;
    text-align: center;
    margin: 22px;
    font-weight: 800;
    color: rgb(240, 240, 240);
}

.wrapper_activeBox .formParRange {
    margin: 30px 40px;
}

.formParRange {
    margin: 4px 28px;
    position: relative;
    padding: 0px;
}


.formParRange input {
    position: absolute;
    right: 44px;
    left: 190px;
    border: 1px solid rgba(170, 169, 169, 0.5);
    border-radius: 6px;
    padding: 4px;
    cursor: default;
}

.formParRange label {
    position: relative;
    top: 6px;
    margin: 0px;
}

.formParRange input:hover {
    background-color: rgba(170, 169, 169, 0.3);
    box-shadow: 2px -2px 10px;
}

.activeValue {
    margin: 0;
    height: 28px;
    width: 28px;
    position: absolute;
    right: 2px;
    top:  4px;
}

.exampleDesk {
    padding: 8px;
    font-size: 12px;
    color: #848484;
}

.exampleDesk p {
    margin: 12px 0;
}

.wrapper_activeBox .countButton {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrapper_activeBox .comment {
    margin-bottom: 0;
    padding: 0;
    position: relative;
    top: 8px;
}







.wrapper_purposeBox .radioBox {
    display: block;
    position: static;
}

.purposeTitle {
    font-size: 20px;
    margin: 40px 0 30px;
    text-align: center;
}
.purposeOption {
    margin: 20px 0;
    font-size: 18px;
}
.wrapper_purposeBox .yourBMR {
    margin: 40px 0;
}






.wrapper_finalBox p {
    letter-spacing: 1px;
}

.deficit {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}
/* .optionDeficit {
    width: 44%;
} */
.option_title {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.purposeCal {
    font-size: 30px;
    font-weight: 800;
    margin: 20px 0;
    color: rgb(240, 240, 240);
    text-shadow: 1px 1px 10px;
    text-align: center;
}





/*----------------------------------------------------footer-----------------------------------------------------------*/

.footer {
    /* position: absolute;
    bottom: 0; */
    height: 8vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

.contact {
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    left: 80px;
}

.sign {
    position: absolute;
    top: 5px;
    left: 26px;
}




/*----------------------------------------------------Общие классы-----------------------------------------------------------*/

.hide {
    display: none;
}